<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/agency.css' />
  <link rel='stylesheet' href='/css/shop-homepage.css' />
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <link rel="stylesheet" href="/css/jquery.mobile.min.css" />
  <link rel="stylesheet" href="/css/jquery.mobile.theme.min.css" />
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.mobile.min.js"></script>

</head>

<body>
  {{{body}}}
  <div class="footer navbar navbar-default ">
    <center>Copyright &copy; FAMACO S. de RL - 2016 | Universidad: <a href="http://www.unicah.edu">UNICAH</a></center>
  </div>
</body>

</html>
